body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 100vh;

  .home {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 2em;
    max-width: 90vw;

    h2 {
      font-size: 1.3em;
    }

    a {
      color: #FCE033;
      transition: all .6s;
      padding: 5px 0 10px 0;
      background: #000;
      margin-top: 10px;
      display: block;
      border-radius: 5px;

      background: url('data:image/svg+xml,\
        <svg xmlns ="http://www.w3.org/2000/svg">\
        <style>@keyframes marching-ants {to {stroke-dashoffset: -15px;}}</style>\
        <rect width="100%" height="100%" style="stroke: %23FCE033; stroke-width: 3px; fill: none;\
        fill: %23000;\
        stroke-dasharray: 10px 5px; animation: marching-ants 1.5s infinite linear;" />\
        </svg>
      ');

      &:hover {
        background: #FCE033;
        color: #000;

        background: url('data:image/svg+xml,\
          <svg xmlns ="http://www.w3.org/2000/svg">\
          <style>@keyframes marching-ants {to {stroke-dashoffset: -15px;}}</style>\
          <rect width="100%" height="100%" style="stroke: %23000; stroke-width: 3px; fill: none;\
          fill: %23FCE033;\
          stroke-dasharray: 10px 5px; animation: marching-ants .9s infinite linear;" />\
          </svg>
      ');
      }
    }

    @media(max-width: 600px) {
        h2 {
          font-size: .8em;
        }
        a {
          font-size: .7em;
        }
        .logo {
          width: 50%;
        }
    }
  }
}