body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 100vh;

  .home {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 2em;
    max-width: 90vw;

    h2 {
      font-size: 1.3em;
    }

    a {
      color: #FCE033;
      transition: all .3s;
      padding: 5px 0 10px 0;
      background: #000;
      margin-top: 10px;
      display: block;

      &:hover {
        background: #FCE033;
        color: #000;
      }
    }

    @media(max-width: 600px) {
        h2 {
          font-size: .8em;
        }
        a {
          font-size: .7em;
        }
        .logo {
          width: 50%;
        }
    }
  }
}