section.page: h2 Page is working! B-)

section.features
    ul
      li Vanilla.js
        small  framework agnostic. U know JS? U know that starter kit.
      li Webpack && Babel
        small  U can work with latest JS. Just enjoy
      li PUG && SCSS
        small less and more powerful code
    a(href="/") back
