.page {
  margin-top: 10vw;
  font-size: 2em;
  animation: blinker 1s linear infinite;

}
.features {
  ul {
    margin-top: 1em;
    display: block;

    li {
      padding: 10px;

      &:before {
        content: '- ';
        font-weight: 100;
      }
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}