doctype html

html(lang="en")

  head
      meta(charset="utf-8")
      meta(http-equiv="x-ua-compatibile")

      title= "ES6 WebStarter"

      meta(name="description" content="")
      meta(name="viewport" content="width=device-width, initial-scale=1")

  body
      #root
